.home {
    background-color: white;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    padding: 0 40px;
}

.navBar {
    background-color: white;
    height: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.header h1 {
    font-size: 26px;
}

.searchBar {
    width: 478px;
    height: 50px;
    text-transform: uppercase;
    background-color: #FAFAFA;
    border: 1px solid #e5e5e5;
    text-transform: uppercase;
    color: #1e1e1e;
    padding: 0 10px;
    border-radius: 100px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.searchBar input {
    width: 400px;
    height: 30px;
    text-transform: uppercase;
    background: transparent;
    border: none;
    text-transform: uppercase;
    color: #1e1e1e;
}

.searchBar input:focus {
    outline: none;
}

.searchBar input::placeholder {
    color: #e5e5e5;
    text-transform: uppercase;
}

.country-list {
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
}
.card {
    text-decoration: none;
    color: #1e1e1e;
}
.country-card {
    box-shadow: 1px 1px 4px rgba(0, 0, 0, .1);
    width: 300px;
    height: 240px;
    border-radius: 10px;
    text-align: center;
    text-decoration: none;
}

.country-card img {
    width: inherit;
    height: 160px;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.country-card h3 {
    padding-top: 5px;
}

.countryDetail {
    background-color: white;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    padding: 0 40px;
}

.countryDetails {
    display: flex;
    justify-content: space-between;
}

.countryDetails .right{
    display: flex;
    justify-content: space-around;
    flex: 2;
    height: inherit;
    margin-top: 42px;
}

.countryDetails .right .right-one,
.countryDetails .right .right-two{
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}



.countryDetails .right .right-one p,
.countryDetails .right .right-two p {
    font-size: 24px;
    font-weight: 700;
}

.countryDetails .right .right-one .infoBox ul,
.countryDetails .right .right-two .infoBox ul {
    list-style-type: none;
}

.countryDetails .right .right-one .infoBox ul li,
.countryDetails .right .right-two .infoBox ul li {
    font-size: 24px;
    font-weight: 700;
}


.countryDetails .right .right-one .label,
.countryDetails .right .right-two .label{
    font-size: 10px;
    padding-bottom: 5px;
    font-weight: 300;
}


.footer {
    background-color: white;
    height: 100px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
}
.footer p {
    color: #eaeaea;
}

.footer .socials {
    display: flex;
    gap: 10px;
}

.loader {
    width: 60px;
    aspect-ratio: 2;
    --_g: no-repeat radial-gradient(circle closest-side,#000 90%,#0000);
    background: 
        var(--_g) 0%   50%,
        var(--_g) 50%  50%,
        var(--_g) 100% 50%;
    background-size: calc(100%/3) 50%;
    animation: l3 1s infinite linear;
}
@keyframes l3 {
    20%{background-position:0%   0%, 50%  50%,100%  50%}
    40%{background-position:0% 100%, 50%   0%,100%  50%}
    60%{background-position:0%  50%, 50% 100%,100%   0%}
    80%{background-position:0%  50%, 50%  50%,100% 100%}
}